<div class="login-container">
  <form [formGroup]="loginForm" class="form-container">
    <p class="logn-title">Sign in to Audemy</p>

    <div class="mat-container">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email Address</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Your email address"
          required
        />
        <mat-error *ngIf="onInputsValidation('email', 'required')">
          {{ "Email is required" }}
        </mat-error>
        <mat-error *ngIf="onInputsValidation('email', 'email')">
          {{ "Please enter a valid email address." }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Password"
          [type]="hidePassword ? 'password' : 'text'"
          required
        />
        <button
          mat-icon-button
          matSuffix
          [disabled]="!loginForm.get('password')?.value"
          (click)="togglePasswordVisibility($event)"
          [attr.aria-label]="'Toggle password visibility'"
          type="button"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        @if(onInputsValidation('password', 'required')) {
        <mat-error>
          {{ "Password is required" }}
        </mat-error>
        } @else if(onInputsValidation('password', 'minlength')) {
        <mat-error>
          {{ "Password must be at least 6 characters long." }}
        </mat-error>
        }
      </mat-form-field>
      <!-- @if(error$ | async) {
      <mat-error class="service-error">
        {{ "Oops! That didn't work. Double-check your credentials and try again." }}
      </mat-error> 
      }-->
    </div>
    <div class="btn-container">
      <button
        mat-raised-button
        type="button"
        [disabled]="!loginForm.valid"
        (click)="onSubmit()"
      >
        Login
      </button>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="loginWithGoogle()"
      >
        Login with Google
      </button>

      <div class="register">
        <p>New to Audemy?</p>
        <a routerLink="/register"> Create an account </a>
      </div>
    </div>
  </form>
</div>
