<div class="container">
  <div class="bg-container"></div>
  <div class="register-container">
    <div class="account-container">
      <p>Already have an account?</p>

      <a routerLink="/login">
        <span class="label">Sign in</span>
        <mat-icon>arrow_forward</mat-icon>
      </a>
    </div>
    <form [formGroup]="registerForm" class="form-container">
      <h2>Sign in to Audemy</h2>

      <div class="mat-container">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Display Name</mat-label>
          <input
            matInput
            type="text"
            formControlName="displayName"
            placeholder="Your display name"
            required
          />
          <mat-error *ngIf="onInputsValidation('displayName', 'required')">
            {{ "Display Name is required" }}
          </mat-error>
          <mat-error *ngIf="onInputsValidation('displayName', 'minlength')">
            {{ "Display Name should contain minimum 4 characters." }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            placeholder="Your email address"
            required
          />
          <mat-error *ngIf="onInputsValidation('email', 'required')">
            {{ "Email is required" }}
          </mat-error>
          <mat-error *ngIf="onInputsValidation('email', 'email')">
            {{ "Email is invalid" }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="Password"
            [type]="hidePassword ? 'password' : 'text'"
            required
          />
          <button
            mat-icon-button
            matSuffix
            [disabled]="!registerForm.get('password')?.value"
            (click)="togglePasswordVisibility($event)"
            [attr.aria-label]="'Toggle password visibility'"
            type="button"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          @if(onInputsValidation('password', 'required')) {
          <mat-error>
            {{ "Password is required" }}
          </mat-error>
          } @else if(onInputsValidation('password', 'minlength')) {
          <mat-error>
            {{ "Password should contain minimum 6 characters" }}
          </mat-error>
          }
        </mat-form-field>
        <!--TODO: used just with state-->
        <!-- @if(error$ | async) {
        <mat-error class="service-error">
          {{ 'An account with this email already exists. Sign in or register with a different email.' }}
        </mat-error>
        } -->
        <mat-error *ngIf="errorMessage" class="service-error">
          {{ errorMessage }}
        </mat-error>
      </div>
      <button
        mat-raised-button
        type="button"
        [disabled]="!registerForm.valid"
        (click)="onSubmit()"
        class="register-btn"
      >
        <span>Register</span>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </form>
  </div>
</div>
