<section class="footer">
    <div class="">
      <div>
        <p>Info about Audemy</p>
      </div>
      <div>
        <p>Help and Support</p>
        <p>Informations</p>
      </div>
      <div>
        <p>Data</p>
        <p>Settings</p>
        <p>News</p>
      </div>
      <div class="">
        <select #selectedLang (change)="onSwitchLang(selectedLang.value)">
          <option
            *ngFor="let language of translate.getLangs()"
            [value]="language"
            [selected]="language === translate.currentLang"
          >
            {{ language }}
          </option>
        </select>
      </div>
    </div>
</section>
