<div class="modal-header">
  <h4 class="modal-title">Add new course</h4>
</div>
<div class="modal-body">
  <form
    [formGroup]="createItemForm"
    class="d-flex flex-column justify-content-between"
  >
    <div class="form-group mb-3">
      <label for="courseName" class="text-dark-blue"> Course Name </label>
      <input
        class="form-control position-relative"
        id="courseName"
        formControlName="name"
        required
      />
      <span
        class="text-danger position-absolute"
        *ngIf="onInputsValidation('name', 'required')"
      >
        {{ "Name is required" }}
      </span>
    </div>

    <div class="form-group mt-1 mb-3">
      <label for="description" class="text-dark-blue"> Description </label>
      <textarea
        class="form-control position-relative"
        id="description"
        formControlName="description"
        required
      ></textarea>
      <span
        class="text-danger position-absolute"
        *ngIf="onInputsValidation('description', 'required')"
      >
        {{ "Description is required" }}
      </span>
    </div>

    <div class="form-check mt-1 mb-3">
      <input
        class="form-check-input"
        id="visibility"
        type="checkbox"
        formControlName="isEnabled"
        checked
      />
      <label class="form-check-label text-dark-blue" for="visibility">
        Enabled
      </label>
    </div>

    <div class="form-group mt-1">
      <label for="type" class="text-dark-blue"> Type </label>
      <input
        class="form-control position-relative"
        id="type"
        formControlName="type"
        required
      />
      <span
        class="text-danger position-absolute"
        *ngIf="onInputsValidation('type', 'required')"
      >
        {{ "Type is required" }}
      </span>
    </div>

    <!-- Owner information -->
    <div formGroupName="owner">
      <div class="my-3">
        <h4 class="modal-title text-dark-blue">Owner</h4>
      </div>

      <div class="form-group mb-3">
        <label for="firstName" class="text-dark-blue">First Name </label>
        <input
          id="firstName"
          class="form-control position-relative"
          formControlName="firstName"
          required
        />
        <span
          class="text-danger position-absolute"
          *ngIf="onOwnerInputsValidation('firstName', 'required')"
        >
          {{ "First name is required" }}
        </span>
      </div>

      <div class="form-group mt-1 mb-3">
        <label for="lastName" class="text-dark-blue">Last Name </label>
        <input
          id="lastName"
          class="form-control position-relative"
          formControlName="lastName"
          required
        />
        <span
          class="text-danger position-absolute"
          *ngIf="onOwnerInputsValidation('lastName', 'required')"
        >
          {{ "Last name is required" }}
        </span>
      </div>

      <div class="form-group mt-1 mb-3">
        <label for="email" class="text-dark-blue">Email </label>
        <input
          id="email"
          class="form-control position-relative"
          formControlName="email"
          type="email"
          required
        />
        <span
          class="text-danger position-absolute"
          *ngIf="onOwnerInputsValidation('email', 'required')"
        >
          {{ "Email is required" }}
        </span>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer d-flex justify-content-center align-items-center">
  <button type="button" class="btn btn-blue" (click)="onCloseModal()">
    Cancel
  </button>

  <button
    type="button"
    class="btn btn-blue"
    (click)="addNewCourse()"
    [disabled]="createItemForm.invalid"
  >
    Create Course
  </button>
</div>
