@if (isLoading$ | async) {
  <app-loading-spinner></app-loading-spinner>
} @else {
  <app-layout-template>
    <app-banner (navigateToCourses)="onNavigateToAllCourses()"></app-banner>
  
    <div class="courses-grid">
      @for (course of allCourses$ | async; track course) {
      <div class="courses-card">
        <app-generic-card
          [courses]="[course]"
          [id]="course.id"
          (openCourse)="onCourseDetails(course.id)"
        >
        </app-generic-card>
      </div>
      }
    </div>
  </app-layout-template>
}