.modal-container {
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 0.375rem;
  border: 1px solid rgba(134, 134, 135, 0.5);
  .dialog-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    h1 {
      padding: 0;
    }
  }
  .modal-content {
    width: 100%;
    mat-list-item {
      width: 100%;
      display: flex;
      text-align: center;
      border: 1px solid rgba(134, 134, 135, 0.5);
      margin-bottom: 10px;
      cursor: pointer;
      &:hover {
        background-color: lightgray;
      }
      modal-item {
        width: 100%;
      }
    }
  }
}
