<div class="container mt-3">
  <div class="row">
    <div
      class="col-lg-8 col-md-6 col-sm-12 d-flex flex-column justify-content-end align-items-center"
    >
      <div class="text">
        <p class="text-light">
          Learn the skills you need for your next career step now!
        </p>
      </div>

      <div class="button my-3">
        <button
          class="btn btn-blue rounded-pill px-4"
          (click)="onNavigateToCourses('')"
        >
          Get Started
        </button>
      </div>
    </div>

    <div
      class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-center align-items-center"
    >
      <h2 class="text-light">New carrier with Certificate on Audemy!</h2>
      <p class="text-light">
        Develop critical skills. Cut cycle times. Build happier, healthier
        teams. All with Audemy.
      </p>
    </div>
  </div>
</div>
