.row {
  background: transparent linear-gradient(45deg, #0097b9 0%, #8769ae 100%) 0 0
  no-repeat padding-box;
  .col-lg-8 {
    height: 50vh;
    background: -webkit-linear-gradient(45deg, #979d9f, rgba(86, 64, 106, 0.5)), url("../../../assets/images/work-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}