<app-header></app-header>
<app-banner (navigateToCourses)="onNavigateToAllCourses($event)"></app-banner>
<app-generic-card></app-generic-card>

<div
  class="container mt-2"
  *ngIf="{
    items: items$ | async,
    isLoading: isLoading$ | async
  } as data"
>
  <div class="row">
    <div class="col-3" *ngFor="let item of data.items">
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">
            {{ item.description }}
          </p>
          <a href="#" class="btn btn-primary">Take the course</a>
        </div>
      </div>
    </div>
  </div>
</div>
