<app-header></app-header>

<div class="container my-3">
  <p>Click here to create a new Course</p>
  <button class="btn btn-blue" (click)="openModal(modalTemplate)">Add +</button>
</div>

<ng-template #modalTemplate>
  <app-modal (closeModal)="onCloseModal()"></app-modal>
</ng-template>

<div *ngIf="isLoading$ | async; else content">
  <app-loading-spinner></app-loading-spinner>
</div>

<ng-template class="mt-2 px-2" #content>
  <div class="container my-4">
    <table class="table table-hover border" *ngIf="items$ | async as data">
      <thead>
        <tr>
          <th class="border" scope="col">Name</th>
          <th class="border" scope="col">Description</th>
          <th class="border" scope="col">Type</th>
          <th class="border" scope="col">Created By</th>
          <th class="text-center border" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="data.length === 0">
          <td colspan="4" class="text-center text-dark-blue">
            No courses available.
          </td>
        </tr>
        <tr
          *ngFor="let item of data"
          class="table-items"
          (click)="onCourseDetails(item.id)"
        >
          <th class="border">{{ item.name }}</th>
          <td class="border">{{ item.description }}</td>
          <td class="border">{{ item.type }}</td>
          <td class="border">{{ item.owner.lastName + " " + item.owner.firstName }}</td>
          <td class="d-flex justify-content-center">
            <button
              class="btn btn-primary rounded-pill me-2"
              (click)="onEditCourse()"
            >
              <i class="fa fa-pen"></i>
            </button>

            <button
              class="btn btn-primary rounded-pill"
              (click)="onDeleteItem(item.id)"
            >
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
