/* Desktop Styles (e.g., screens smaller than 1920px but larger than 1024px) */
@media (max-width: 1919px) {
  .card {
    max-width: 100%;
    height: auto;
  }
}

/* Tablet Styles (e.g., screens between 768px and 1023px) */
@media (max-width: 1023px) {
  .card {
    max-width: 100%;
    height: auto;
  }
}

/* Mobile Styles (e.g., screens smaller than 768px) */
@media (max-width: 767px) {
  .card {
    max-width: 100%;
    height: auto;
  }
}

.card {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

    .video-container {
      opacity: 1;
    }
  }

  mat-card-header {
    text-align: center;
  }

  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
  }

  .reel-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
