@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';
@import './mixins';
@import './variables';
@import './buttons';

@font-face {
    font-family: Titillium-Web;
    src: url(../fonts/Titillium-Web/TitilliumWeb-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Titillium-Web;
}

//Scrollbar
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent linear-gradient(45deg, #0097b9 0%, #8769ae 100%) 0 0
  no-repeat padding-box;
  border-radius: 15px;
}
