$blue: #0097b9;
$dark-blue: #283b41;
$light-blue: #0fa3b1;
$white: #fff;
$gray: #dadada;

$app-colors: () !default;
$app-colors: map-merge(
  (
    "blue": $blue,
    "dark-blue": $dark-blue,
    "light-blue": $light-blue,
    "white": $white,
    "gray": $gray
  ),
  $app-colors
);
