<div class="banner-container">
  <div class="content">
    <div class="description">
      <h3>Build Skills That Matter — For a Future That Inspires!</h3>
      <p>
        {{ "landing_page.banner.description" | translate }}
      </p>
    </div>
    <div class="description-actions">
      <h4>
        {{ "landing_page.banner.title" | translate }}
      </h4>

      <button
        mat-raised-button
        color="accent"
        (click)="onNavigateToCourses('')"
      >
        Get Started
      </button>
    </div>
  </div>
</div>
