@use "../../../../assets/styles/variables" as colors;

.banner-container {
  position: relative;
  display: flex;
  margin: 32px 0;
  height: 15vh;
  width: 50%;
  background-color: colors.$grey-light;
  border-radius: 16px;

  .banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px;
    width: 60%;
    .description {
      width: 100%;
      display: flex;
      flex-direction: column;
      h2 {
        margin-bottom: 16px;
        color: colors.$grey-dark;
      }
      p {
        color: colors.$grey-dark;
      }
    }
    .description-actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      h4 {
        margin-bottom: 16px;
        color: #fff;
      }
    }
  }
  .banner-character {
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translateY(-53%);
    height: 120%;
    width: auto;
    img {
      display: block;
      height: 100%;
      width: auto;
    }
  }
}
