<div class="container">
  <div class="content">
    <div class="">
      <div class="text">
        <p class="text-light">
          Learn the skills you need for your next career step now!
        </p>
      </div>

      <div>
        <button mat-raised-button (click)="onNavigateToCourses('')">
          Get Started
        </button>
      </div>
    </div>

    <div>
      <h2>New carrier with Certificate on Audemy!</h2>
      <p>
        Develop critical skills. Cut cycle times. Build happier, healthier
        teams. All with Audemy.
      </p>
    </div>
  </div>
</div>
