<div class="banner-container">
  <div class="banner-content">
    <div class="description">
      <h2>{{ title }}</h2>
      <p>
        {{ description }}
      </p>
    </div>
    <div class="description-actions">
      @if (buttonLabel) {
      <button
        mat-raised-button
        color="accent"
        (click)="onNavigateToCourses('')"
      >
        {{ buttonLabel }}
      </button>
      }
    </div>
  </div>
  <div class="banner-character">
    <img [src]="imgSrc" alt="Banner background" />
  </div>
</div>
